.home {
    display: block;
}

.user-login {
    font-size: 20px;
    margin-right: 30px;
}

.user-cadastro {
    font-size: 20px;
}

.container {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 140px;
    align-items: center;
    justify-content: center;
}

.user-login-selected {
    font-size: 20px;
    margin-right: 30px;
    /* text-decoration: underline #B20000; */
    border-bottom: 2px solid #B20000;
}

.user-cadastro-selected {
    font-size: 20px;
    /* text-decoration: underline #B20000; */
    border-bottom: 2px solid #B20000;
}