@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto+Slab&display=swap');

.text-form {
    text-align: initial;
}

.btn-cadastrar {
    font-size: 11pt;
    font-family: Calibri;
    height: 30px;
    width: 100px;
    border-style: solid;
    border-width: 0;
    background-color: RoyalBlue;
    color: white;
    font-family: 'Open Sans';
}

.body-form-cadastro {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin-top: 90px; */
}
form {
    text-align: center;
}

.content-btn {
    margin-bottom: 25px;
}