.container-result {
    display: block;
    justify-content: center;
    align-items: center;
}

.title-result {
    justify-content: center;
    align-items: center;
    display: flex;
}

.body-text-result {
    width: 50%;
}

.container-result-text {
    justify-content: center;
    align-items: center;
    display: flex;
}