@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


.areaDados {
  height: 74vh;
  /* border: 0.2vh solid blue; */
  border: 0.2vh solid #B20000;

  margin: 0.2% 0.2% 0.2% 0.2%;
  background-color: white;

  text-align: center;
  
  font-size: 3vh;
    
}

.TituloRec{
  color: #715362;
  font-family: 'Zen Kurenaido', sans-serif;
}

