.question {
  height: 98.5vh;
  margin: 0.2%;
  background-color: #f3f3f3; 

}

#areaAnswer {
  height: 74vh;
  border: 0.2vh solid #B20000;
  margin: 0.2%;
  background-color: #f3f3f3;
  
}

.header {
  margin-top: 0.5vh;
}
