.container-theme {
    display: block;
}

.block-theme {
    background-color: #000;
    height: 15px;
    width: 15px;
}

.body-theme {
    display: block;
}

.title-theme {
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-theme {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 25px;
}

.btn-text-theme {
    height: 80px;
    margin-left: 15px;
}

.btn-next-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-next {
    font-size: 11pt;
    font-family: Calibri;
    height: 30px;
    width: 100px;
    border-style: solid;
    border-width: 0;
    background-color: RoyalBlue;
    color: white;
    margin-top: 10%;
    margin-bottom: 25px;
}
