@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital@1 & family= Roboto+Slab & display=swap');

.container-theme {
    /* display: block;
    height: 70vh;; */
    min-height: 70vh;
}

.block-theme {
    background-color: #000;
    height: 15px;
    width: 15px;
}

.body-theme {
    display: block;
    justify-content: center;
    align-items: center;
}

.title-theme {
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-theme>h2 {
  font-family: 'Roboto Slab';
}

.card-theme {
    /* flex-direction: row; */
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text-theme {
    height: 80px;
    margin-left: 15px;
    width: 210px;
}

.btn-text-theme>h2{
  font-family: 'Open Sans';
}

.btn-next-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-next {
    font-size: 11pt;
    font-family: 'Open Sans';
    height: 30px;
    width: 100px;
    border-style: solid;
    border-width: 0;
    background-color: RoyalBlue;
    color: white;
    margin-top: 4%;
    margin-bottom: 25px;
}

.card-group {
    display: flex;
    margin-bottom: 15px;
}


  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }

.inputObjetive {
    display: flex;
    width: 100%;
}

.btn-startAssessment {
    font-size: 11pt;
    font-family: Calibri;
    height: 30px;
    width: 100px;
    border-style: solid;
    border-width: 0;
    background-color: RoyalBlue;
    color: white;
}

.body-start-assessment {
    margin-top: 25px;
}

.icon-exit {
  width: 30px;
  height: 30px;
}

.container-icon-exit {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 5px;
}